body{
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}
#header{
	width: 100%;
	height: 110px;
	background-color: #333237;
}
#contant{
	width: 100%;
	overflow: hidden;
	height: auto;
	min-height: 950px;
	background-color: #F1F8F0;
}
#footer{
	width: 100%;
	height: 120px;
	background-color: #333237;
}
#in_header{
	width: 970px;
	height: 110px;
	margin: 0 auto;
	background-color: #333237;
}
#in_contant{
	width: 970px;
	overflow: hidden;
	height: auto;
	min-height: 950px;
	background-color: #F1F8F0;
	margin: 0 auto;
}
#in_footer{
	width: 970px;
	height: 120px;
	margin: 0 auto;
	background-color: #333237;
}
#right_header{
	height: 110px;
	width: 650px;
	background-color: #333237;
	float: left;
}
#left_header{
	height: 110px;
	width: 320px;
	background-color: #333237;
	float: left;
}
#right_header ul{
	list-style-type: none;
}
#right_header ul li{
	display: inline-block;
	margin-top: 25px;
	margin-left: 8px;
}
#right_header ul li a{
	text-decoration: none;
	color: #fff;
	margin: 0px;
	padding: 12px;
	background: linear-gradient(to top left,#000 10%, #ccc 100%);
	border-radius: 100px 100px 0px 100px;
}
#right_header ul li a:hover{
	background: linear-gradient(to top left,#ccc 10%, green 50%);
}
#search{
	margin: 28px auto;
	background-color: #46464C;
	height: 30px;
	width: 320px;
	border-radius: 10px;
}
#search p{
	height: 30px;
	width: 320px;
	background-color: #000;
	color: #F0F7ED;
	padding-left: 5px;
	padding-top: 10px;
	border-radius: 10px;
	border: 3px solid #404146;
}
#slider{
	margin: 15px auto;
	overflow: hidden;
	width: 970px;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}
#slider img{
		height: 100%;
		width: 100%;
}
#right_contant{
	width: 650px;
	min-height: 600px;
	height: auto;
	background-color: #F0F7ED;
	float: right;
}
#left_contant{
	width: 300px;
	margin-right: 20px;
	height: 600px;
	background-color: #F0F7ED;
	float: left;
}
#left_contant h2{
	color: red;
	padding-left: 10px;
	border-bottom: 2px dotted #ccc;
}
#left_contant ul{
	list-style-type: none;
}
#left_contant ul li{
	margin: 10px;
	padding: 10px;
}
#left_contant ul li:hover{
	background-color: #F1F6EA;
	font-weight: bolder;
	box-shadow: 0 0 5px #000;
	border-radius: 5px;
}
#left_contant ul li a{
	text-decoration: none;
	color: #000;
}
#bottom_contant{
	float: left;
	margin: 0 auto;
	width: 970px;
	height: 100px;
	background-color: #302F34;
}
#bottom_contant ul{
	list-style-type: none;
}
#bottom_contant ul li{
	display: inline-block;
	margin: 20px;
	margin-left: 40px;
}
#bottom_contant ul li a{
	text-decoration: none;
	font-size: 25px;
	color: #1F9ECB;
}
#table{
	padding-top: 50px;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
}
#tbl{
	padding-top: 20px;
	width: 450px;
	min-height: 450px;
	height: auto;
	margin: 0 auto;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
}
.btn{
	background-color: #1F9ECB;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;

}
.btn:hover{
	background-color: #F0F7ED;
	color: #1F9ECB;
}